*.log
*.aux
book/*.swp
book/*.bak
book/_minted-book/
book/_minted-ebook/
book/.bbl
book/*.bcf
book/*.blg
*.fdb_latexmk
*.fls
book/*.idx
book/*.idv
book/*.ilg
book/*.ind
book/*.ptc
book/*.run.xml
book/*.toc
book/*.html
*.dvi
book/*.out
book/content.opf
book/ebook-epub/
book/ebook.4ct
book/ebook.4tc
book/ebook.css
book/ebook.lg
book/ebook.ncx
book/ebook.tmp
book/ebook.xref
book/graphs/*-.png
presentation/build/*.md.html
