*.log
*.aux
*.swp
*.bak
_minted-book/
_minted-ebook/
.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind
*.ptc
*.run.xml
*.toc
*.html
*.dvi
*.out
content.opf
ebook-epub/
ebook.4ct
ebook.4tc
ebook.css
ebook.idv
ebook.lg
ebook.ncx
ebook.tmp
ebook.xref
graphs/*-.png
