_minted-notes/
notes.aux
notes.bbl
notes.bcf
notes.blg
notes.fdb_latexmk
notes.fls
notes.idx
notes.ilg
notes.ind
notes.log
notes.ptc
notes.run.xml
notes.toc
parts/container.aux
parts/mobile.aux
parts/separation.aux
parts/unix.aux
